.pagination-block {
  --bs-pagination-color: grey !important;
  --bs-pagination-active-bg: var(--accent-color) !important;
  --bs-pagination-active-border-color: var(--dark-color) !important;
  --bs-pagination-hover-color: #000 !important;
  --bs-pagination-active-color: #000 !important;
  justify-content: center !important;
  margin-top: .8rem !important;
}