.pagination-block {
  --bs-pagination-active-bg: var(--accent-color);
  --bs-pagination-active-border-color: var(--dark-color);
  --bs-pagination-hover-color: #000;
  --bs-pagination-active-color: #000;
  justify-content: center;
  margin-top: .8rem;
}